<!DOCTYPE html>
    <head>
    	<meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum">
        <title>{{ .Site.Title }} | {{ .Title | singularize }}</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <div class="flex-container">
            <div class="headerwrap">
                <header>
                    <nav>
                        <div class="navlinks">
                            <a href="/">Home</a><BR>
                            <a href="/about">About</a><br>
                            <a href="/posts">Blog</a><br>
                        </div>
                    </nav>
                </header>
            </div>
            <main>
                <content>
				    <article>
                    